.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100vh;
  gap: 1rem;

  button {
    padding: 1rem 2rem;
    font-weight: 700;

    background-color: green;
    color: white;

    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
}